.reprobody {
    background-image: url("../images/brick.jpg.jpg");
    font-family: 'Oxanium';
}

.contactbody {
    background-image: url("../images/leaves.jpg");
    font-family: 'Oxanium';
}

.portfoliobody {
    background-image: url("../images/glass.jpg");
    font-family: 'Oxanium';
}

.container {
    background-color: teal;
    font-family: 'Trade Winds';    
}

.navbar {
    font-family: 'Trade Winds';
}